<<<<<<< Updated upstream
<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>
=======
<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
>>>>>>> Stashed changes
